import { Global, Module } from "@nestjs/common";
import { HealthController } from "./health.controller";
import { HealthResolver } from "./health.resolver";
import { HealthService } from "./health.service";

@Global()
@Module({
	controllers: [HealthController],
	providers: [HealthService, HealthResolver],
	exports: [HealthService],
})
export class HealthModule {}
